*{
    margin: 0px;
    padding:0px;
  }
  
  .body{
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    text-align: center;
  }

  h4{
    position: relative;
    text-align: center;
    /* right: 13%; */
  }