*{
    margin: 0px;
    padding:0px;
}

li{
    list-style: none;
    /* color: rgb(223, 223, 223); */

}
.fl{
    font-size: 5.5vh;
    margin-left: 8px;
}

.main-nav{
    width: 100vw;
    height: 7rem;
    display: grid;
    grid-template-columns: 4rem 1fr 15rem 1.5fr 4rem;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 0%;
}
.logo{
    display: flex;
    align-items: center;
    /* background-color: #3b5998; */
    color: rgb(228, 0, 224);
    grid-column: 2/3;
}
.logo:hover{
    font-size: 3vh;

}
.menu-link{
    grid-column: 4/5;
}
.menu-link ul{
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: aliceblue; */
}
.menu-link ul li a{
    text-transform: capitalize;
    /* color: white; */
    font-weight: bolder;
    margin: 10px;
    
}
.menu-link ul li:hover{
    font-size: 5vh;
}